/* Custom css */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');
/*font-family: 'Nunito', ;*/
/*font-family: 'Arimo', ;*/

.tm-custom-padding{
    padding: 60px 0;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    clear: both;
}
a:focus, a:hover{
	outline: none;
}
a:hover{
    text-decoration: none;
}
.tm-h2 {
    font-size: 61px;
    line-height: 70px;
    font-family: 'Nunito', ;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}
.tm-h2 span{
	color: #aed34b;
}
.tm-h3 {
    font-size: 45px;
    line-height: 1;
    font-family: 'Nunito', ;
    font-weight: 700;
    color: #232323;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.tm-h4 {
    font-size: 32px;
    line-height: 1;
    font-family: 'Nunito', ;
    font-weight: 700;
    color: #fff;    
}
.tm-h5 {
    font-size: 24px;
    line-height: 1;
    font-family: 'Nunito', ;
    font-weight: 700;
    color: #fff;    
}
.tm-h6 {
    font-size: 16px;
    line-height: 1;
    font-family: 'Nunito', ;
    font-weight: 400;
    color: #fff;    
}
*,ul{
	margin: 0;
	padding: 0;
}
*,li{
	list-style: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{	
	font-size: 15px;
	line-height: 25px;
	font-family: 'Arimo', ;
	font-weight: 400;
    color: #626262;
}
.container{
    width:100%;
    max-width:1170px;   
}


/*navbar*/
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: @navbar-padding-horizontal;
  padding: 9px 10px;
  .navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: @border-radius-base;
}  
.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    cursor: pointer;
}
/*navbar*/
.tm-button {
    width: 163px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    color:#fff;
    height: 45px;
    line-height: 42px;
    font-size: 12px;
}
.tm-button:hover{
    color: #fff;
}
.tm-button i{
    margin-left: 10px;
}
/*header-start*/
header.tm-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.tm-header-top{
    background-color: #d0324b;
}
.tm-header-top ul li{
    display: inline-block;
}
.tm-header-top-left ul li a{
    color: #fff;
    margin-right: 18px;
    text-transform: uppercase;
}
.tm-header-top-right ul li a{
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 4px;   
    background-color: #fff; 
}
.tm-header-top-right ul li a i{
    color: #d0324b;
    font-size: 20px;
}
.tm-header-menu{
    position: relative;
}
.tm-header-menu:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.tm-header-menu:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.navbar-light .navbar-nav.tm-header-list .nav-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 0 0 40px;
    transition: all .3s;
}
.navbar-light .navbar-nav.tm-header-list .nav-link:hover{
    color: #054391;
}
.navbar-light .navbar-nav.tm-header-list .nav-item.active .nav-link {
    color: #054391;
}
.tm-header-navbar{
    position: relative;
    z-index: 1;
}
/*banner*/
.banner{
    position: relative;
}
.banner-overlay{
    content: '';
    position: absolute;
    background:url(../images/banner-bg-left.jpg) repeat center center;    
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
.tm-carousel-item {
    height: 654px;
}
.tm-carousel-item-text {
    position: relative;
    z-index: 1;
}
.tm-carousel-item-text .tm-button{
    margin-top: 20px;
}
.banner .carousel-indicators li {
    text-indent: 0;
    width: auto;
}
.banner .carousel-indicators {
    bottom: 200px;
}


